*{
	padding:0;
	margin:0;
  }
  
  body{
	font-family:'Merriweather',serif;
	background-color: #EBF2FF;
	color: #1d3557;
  }
  
  .navbar{
	display:flex;
	align-items: center;
	justify-content:space-around;
	background-color: #000;
  }
  
  .navbar__brand{
	width:100px;
  }
  
  .navbar__logo{
	width:100%;
  }
  
  .button__primary {
	background-image: linear-gradient(
	  to right,
	  #ff512f 0%,
	   #dd2476 51%,
	   #ff512f 100%
	  );
	  color: #fff;
	  border: none;
	  padding: 12px;
	  border-radius: 6px;
	  font-weight: 600;
  }
  
  .button__primary:hover{
	background-image:linear-gradient(to right, #dd2476 0%, #ff512f 51%, #dd2476 100%);
	cursor: pointer;
}

  
  .nav__item:hover{
	border:2px solid #FF6767;
	cursor: pointer
  }
  
  
  .humburger{
	display:none;
	color:white;
	padding:0 15px;
	font-size:40px;
	border-radius: 6px;
	background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
  
  }
  
  .phone__view{
	display:none;
	background-color: white;
	z-index:50;
  }
  
  
  
  .container{
	max-width:100%;
	padding:0px 20px;
	margin:0 auto;
  }
  
  .hero__image__container{
	width:100%;
	position: relative;
  }
  
  .hero__bg__pattern{
	width:100%;
	z-index:-1;
	top:0;
  }

  .hero__image__background__shades {
	z-index: -2;
}

  .hero__shape{
	position:absolute;
	width:100%;
	right:10px;
	z-index:1;
	top:5px;
  }
  
  .hero__image{
	position: absolute;
	top:30px;
	left:0;
	width:100%;
	border-radius:8px;
	box-shadow:0px 25px 50px -12px rgb(0 0 0 / 25%);
	z-index:2;
  }
  
  .hero__text{
	font-weight:800;
	font-size:30px;
	margin: 20px 0;
	color:#1d3557;
  }
  
  .food__card{
	background-color: #FFFFFF;
	border-radius:8px;
	margin:10px;
  }
  
  .food__card__description{
	padding: 16px;
	color:#1D3557;
  }
  
  .food__card__image__container{
	width:100%;
  }
  
  .food__image{
	width:100%;
	border-radius: 8px 8px 0 0;
  }
  
  .explore__menu__text{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-size:30px;
	font-weight: 800;
	color:#1d3557;
  }
  
  .explore__menu__more{
	margin:32px 0;
	text-align:center;
	padding: 20px;
	transition:0.3s;
	color:#fff;
	background-image: linear-gradient(
	  to right,
	  #ff512f 0%,
	   #dd2476 51%,
	   #ff512f 100%
	  );
	  border-radius: 6px;
  }
  
  .order__place__container{
	margin-top:48px;
  }
  
  .order__place__text{
	color:#1D3557;
	font-size: 24px;
  }
  
  .order__place__images__container{
	display: flex;
	flex-direction: column;
	gap:10px;
  }
  
  .order__place__row1{
	display: flex;
	gap:10px;
	width:100%;
	align-items: baseline;
  }
  
  .restaurant1__image,.restaurant3__image{
	width:150px;
	height:80px;
	border-radius: 4px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
	  0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .restaurant2__image,.restaurant4__image{
	width:200px;
	height:100px;
	border-radius: 4px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
	  0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .order__place__row2{
	display: flex;
	gap:10px;
	align-items: flex-start;
	flex-direction: row-reverse;
  }
  
  .email__container{
	margin-top:60px;
  }
  
  .email__container__text{
	font-size: 40px;
	color:#1D3557;
  }
  
  .email__container__content{
	display:flex;
	justify-content: center;
  }
  
  .email__content__input{
	background-color: #fcedf0;
	border:1px solid #ee89a0;
	font-weight:900;
	padding:10px;
	border-radius: 4px;
	width:320px;
	margin:12px;
  }
  
  .quote_container{
    position: relative;
    margin-top: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 100%;
    border-radius: 13px;
    background:url(https://www.gordonramsay.com/assets/Uploads/_resampled/CroppedFocusedImage121578650-50-The-River-Restaurant-Website-Hero.jpg);
}
.quote_image{
    position:absolute;
    height:200px;
    width:100%;
}
.quote_image_text{
    color: #000;
    text-align:center;
    margin:2rem;
}
.footer__container{
	background-image: linear-gradient(
	  to left,
	  #ff512f 0%,
	   #dd2476 51%,
	   #ff512f 100%
	  );
	  display:flex;
	  flex-direction:column;
	  justify-content:center;
	  align-items:center;
	  margin-top:48px;
	  border-radius:15px 15px 0px 0px;
  }
  
  .footer__image__container{
	display:flex;
	flex-direction:column;
	width:250px;
  }
  
  .footer__image{
	width:300px;
	filter: brightness(0) invert(1);
  }
  
  .footer__content{
	  list-style-type: none;
	  text-align: center;
	  margin:32px;
	  margin-bottom: 20px;
	  color:#fff;
	  font-size:20px;
  }
  
  
  @media (min-width:768px){
	.explore__menu__lists{
	  margin-top:45px;
	  display:flex;
	  gap:15px;
	  padding:0px 60px;
	}
  
	.explore__menu__container{
	  position: relative;
	}
  
	.explore__menu__gradient__bg{
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  z-index:-3;
	  background-image: linear-gradient(
		to right,
		#ff512f 0%,
		 #dd2476 51%,
		 #ff512f 100%
		);
		transform:skewY(-5deg);
	}
  
	.navbar{
	  justify-content: space-between;
	  padding:10px 30px;
	}
  
	.hero__container{
	  margin-top:20px;
	  display:flex;
	  flex-direction:row-reverse;
	  align-items: center;
	}
  
	#pizza__card{
	  margin-top:-20px;
	  margin-bottom:30px;
	}
  
	.explore__menu__more{
	  background-image:none;
	}
  
	.order__place__container{
	  display:flex;
	  align-items: center;
	  justify-content: space-between;
	  margin-top:48px;
	}
  
	.order__place__text{
	  font-size: 30px;
	}
  
	.email__container__text{
	  text-align: center;
	  font-size:48px;
	  justify-content: space-between;
	}
  
	.quote__text{
	  font-size:50px;
	  font-weight:800;
	}
  
	.footer__image__container{
	  flex-direction: row;
	  justify-content: space-around;
	}
	.footer__image {
		width: 300px;
		margin-left: 20px;
	}
	.footer__content {
		margin: 20px;
		font-size: 20px;
		text-align: left;
	}
  }
  
  @media (min-width:1024px){
	.explore__menu__lists{
	  gap:25px;
	}
  
	.container{
	  max-width:70%;
	}
  
	.navbar__brand{
	  width:150px;
	}
  
	.button__primary{
	  padding: 20px;
	  font-size: 20px;
	  font-weight:600px;
	}
  
	.hero__description{
	  width:100%;
	}
  
	.hero__text{
	  font-size: 50px;
	}
  
	.explore__menu__text{
	  font-size:48px;
	}
  
	.order__place__container{
	  margin-top: 60px;
	}
  
  .explore__menu__more{
	margin-top:64px;
	content:cursor;
  }
  
  .explore__menu__more:hover{
	  background: #fff;
	  color: #dd2476;
	  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	  margin:4rem 20rem;
	}
  
	.restaurant1__image,.restaurant3__image {
	  width: 250px;
	  height: 180px;
	}
  
	.restaurant2__image,.restaurant4__image {
	  width: 300px;
	  height: 260px;
	}
  
  }
